* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.navigation-container {
  top: 12px;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 100%;
  z-index: 1000;
  padding: 0 4rem;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0); 
  font-size: 2rem; 
  transition: transform 0.3s ease-in-out; 
}

.left-nav a {
  padding: 0 12px;
  font-size: 20px;
}

.right-nav {
  width: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  font-size: 20px;
  gap: 12px;
}
.right-nav svg{
    font-size: 25px;
}
.right-nav svg:hover{
    cursor: pointer;
    animation: Animation-setting 1s ease-in forwards;
}
@keyframes Animation-setting {
  from{
    transform:rotate(0deg)
  } to
  {
    transform: rotateZ(360deg);
    scale: 2;
    
  }

}
.scroll-listener {
  display: flex;
  transform: translateX(-50px);
  font-size: 30px;
  transition: all;
}
